@page
@model DeliverPlan.Pages.Tanks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tank @Model.Tank.Tag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tank.Tag" />
            <div class="form-group">
                <label asp-for="Tank.Level" class="control-label"></label>
                <input asp-for="Tank.Level" class="form-control" />
                <span asp-validation-for="Tank.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tank.Capacity" class="control-label"></label>
                <input asp-for="Tank.Capacity" class="form-control" />
                <span asp-validation-for="Tank.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <fieldset>
                    <legend>Select Customer</legend>
                    <select asp-for="Tank.CustomerID" asp-items="@Model.Customers">
                        <option> Select one</option>
                    </select>
                </fieldset>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
