@page
@model DeliverPlan.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<img src="~/images/used.jpg" alt="Road Tanker" class="img-fluid" />

<div class="align-content-center">
    <p>
        We are a world class liquid delivery company.
    </p>

    <h2>Quality and Security</h2>
    <p>
        We provide a true end-to-end solution, from ‘Port-To-Point of Use’ and all the points in between.
        This ensures security of supply of the best Quality Assured liquid products for Irish industry, businesses, farms, homes and motorists across 32 counties.
    </p>


    <h2>National Coverage</h2>
    <p>
        Our nationwide network of depots mean that no matter where your business is lcoatied,
        We can reach.
    </p>
</div>