@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Delivery Planning Excellence</p>
</div>

<div>
    <img src="~/images/bulk-storage-tank-5.jpg" alt="Storage Tanks" class="img-fluid" />

    <img src="~/images/RoadTanker.jpg" alt="Road Tanker" class="img-fluid" />

</div>